<div class="card-body">
    <div class="list-group">
    
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-globe fa-fw"></i> Destinations
            <span class="float-right text-muted small"><em>{{cacheStats?.Destinations}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-retweet fa-fw"></i> ReverseDestinations
            <span class="float-right text-muted small"><em>{{cacheStats?.ReverseDestinations}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-ils fa-fw"></i> RatingPlans
            <span class="float-right text-muted small"><em>{{cacheStats?.RatingPlans}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-object-group fa-fw"></i> RatingProfiles
            <span class="float-right text-muted small"><em>{{cacheStats?.RatingProfiles}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-th-list fa-fw"></i> Actions
            <span class="float-right text-muted small"><em>{{cacheStats?.Actions}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-yelp fa-fw"></i> ActionPlans
            <span class="float-right text-muted small"><em>{{cacheStats?.ActionPlans}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-wpforms fa-fw"></i> AccountActionPlans
            <span class="float-right text-muted small"><em>{{cacheStats?.AccountActionPlans}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-slideshare fa-fw"></i> SharedGroups
            <span class="float-right text-muted small"><em>{{cacheStats?.SharedGroups}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-file-text fa-fw"></i> DerivedChargers
            <span class="float-right text-muted small"><em>{{cacheStats?.DerivedChargers}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-cloud-upload fa-fw"></i> LcrProfiles
            <span class="float-right text-muted small"><em>{{cacheStats?.LcrProfiles}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-bar-chart fa-fw"></i> CdrStats
            <span class="float-right text-muted small"><em>{{cacheStats?.CdrStats}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-user fa-fw"></i> Users
            <span class="float-right text-muted small"><em>{{cacheStats?.Users}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-chevron-circle-right fa-fw"></i> Aliases
            <span class="float-right text-muted small"><em>{{cacheStats?.Aliases}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-exchange fa-fw"></i> ReverseAliases
            <span class="float-right text-muted small"><em>{{cacheStats?.ReverseAliases}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-filter fa-fw"></i> ResourceProfiles
            <span class="float-right text-muted small"><em>{{cacheStats?.ResourceProfiles}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-th-list fa-fw"></i> Resources
            <span class="float-right text-muted small"><em>{{cacheStats?.Resources}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-life-ring fa-fw"></i> StatQueues
            <span class="float-right text-muted small"><em>{{cacheStats?.StatQueues}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-object-ungroup fa-fw"></i> StatQueueProfiles
            <span class="float-right text-muted small"><em>{{cacheStats?.StatQueueProfiles}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-tumblr fa-fw"></i> Thresholds
            <span class="float-right text-muted small"><em>{{cacheStats?.Thresholds}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-object-group fa-fw"></i> ThresholdProfiles
            <span class="float-right text-muted small"><em>{{cacheStats?.ThresholdProfiles}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-object-ungroup fa-fw"></i> Filters
            <span class="float-right text-muted small"><em>{{cacheStats?.Filters}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-object-group fa-fw"></i> SupplierProfiles
            <span class="float-right text-muted small"><em>{{cacheStats?.SupplierProfiles}}</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-adn fa-fw"></i> AttributeProfiles
            <span class="float-right text-muted small"><em>{{cacheStats?.AttributeProfiles}}</em></span>
        </a>
 
    </div>
    <!-- /.list-group -->
    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
</div>
